@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

#ab-test {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.blog-content {
    width: 70%;
    height: auto;
    /* border: 1px solid  rgb(161, 166, 252); */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
    font-family: 'Comic Neue', cursive;
}

.blog-content h1,
.blog-content h2 {
    font-weight: 600;
    font-size: 24px
}

.blog-content p{
    font-weight: 500;
    font-size: 16px;
}

.news-card__image{
    margin-top: 10px !important;
}


@media only screen and (width < 768px) {
    .blog-content {
        width: 90%;
    }
}