@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

:root {
    --bc: #f9f3ee;
    --bc-dark: #141412;
    --primary: rgb(161, 166, 252);
    --accent1: rgba(251, 161, 229, 1);
    --accent2: rgba(241, 196, 161, 1);
    --white: #ffffff;
    --black: #000000;
    /* Gray Colors */
    --bc-gray: #ede8e4;
    --gray: #9e9d9b;
    --gray-dark: #1c1a19;
    /* Gradients */
    --pace: linear-gradient(90deg, rgba(161, 166, 252, 1) 0%, rgba(251, 161, 229, 1) 50%, rgba(241, 196, 161, 1) 100%);
    /* Sizes */
    --heading: 3.4rem;
    --paragraph: 1.1rem;
    --button-small: 1rem;
    /* Fonts */
    --font-main: font-family: 'Comic Neue', cursive;
}

#contact_page{
    min-height: 100vh;
}

/* icons */
.icon {
    position: relative;
    color: #a1a6fc;
    font-weight: 400;
    font-size: 30px;
    margin-right: 5px;
}

textarea {
    min-height: 8em;
    font-family: var(--font-main);
    transition: opacity .15s ease-in-out;
    resize: none;
}

textarea::-webkit-scrollbar-track {
    background-color: transparent;
}

textarea::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 5em;
    background-color: var(--primary);
}

/* Global classes */
.space {
    min-height: 25vh;
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbox-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flexbox-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flexbox-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.flexbox-col-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.flexbox-col-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

.flexbox-left-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.flexbox-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Form */
.form-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Comic Neue', cursive;
}

#form {
    width: 75%;
   
}

.form-title {
    margin: 1em 0 0 0;
    font-size: var(--heading);
    font-weight: 800;
}

.form-undertitle {
    margin: 0 0 1em 0;
    color: var(--gray);
    font-weight: 300;
}

.send-success {
    width: 100%;
    padding: 1em;
    border-radius: 4px;
    background-color: var(--light-green);
    color: var(--white);
}

.send-error {
    width: 100%;
    padding: 1em;
    border-radius: 4px;
    background-color: var(--red);
    color: var(--white);
}

.form-input-grid {
    margin: 1.5em 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5em;
}

.form-input-wrapper {
    width: 100%;
    position: relative;
}

#textarea textarea {
    border-radius: 2.25em;
}

.form-input{
    padding: 1.2em 1.2em 1.2em 2em !important;
    font-size: 1.22rem !important;
    border-radius: 5em !important;
    box-shadow: 0 5px 20px 0 rgba(237, 232, 228, .8) !important;
    background-color: var(--bc-gray) !important;
    border: 2px solid var(--bc-gray) !important;
    transition: border .15s ease-in-out !important;
    font-family: var(--font-main);
}

.form-input:hover {
    border: 2px solid var(--primary) !important;
}

.form-input:focus {
    outline: none !important;
    border: 2px solid var(--primary) !important;
}

/* Button */
.button-wrapper {
    margin: 2em 0 1em 0;
    display: flex;
    justify-content: center;
}

.button_icon{
    font-size: 30px;
}

.button,
.btn-secondary {
    margin: 0;
    width: 20%;
    position: relative;
    padding: .7em 1.3em;
    letter-spacing: .1em;
    text-align: center;
    color: var(--white);
    background: var(--pace);
    background-size: 500%;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-family: var(--font-main);
    transform: scaleX(1);
    transition: transform .3s cubic-bezier(.175, .885, .32, 1.275), filter .3s cubic-bezier(.175, .885, .32, 1.275), bottom .3s cubic-bezier(.175, .885, .32, 1.275), background-position 3s cubic-bezier(.455, .03, .515, .955), -webkit-transform .3s cubic-bezier(.175, .885, .32, 1.275), -webkit-filter .3s cubic-bezier(.175, .885, .32, 1.275);
}


.button .btn-secondary {
    left: 0;
    width: 100%;
    position: absolute;
    filter: blur(1rem);
    opacity: .8;
    z-index: -1;
    transform: scale3d(.9, .9, 1);
    transition: transform .3s cubic-bezier(.175, .885, .32, 1.275), filter .3s cubic-bezier(.175, .885, .32, 1.275), bottom .3s cubic-bezier(.175, .885, .32, 1.275), background-position 3s cubic-bezier(.455, .03, .515, .955), -webkit-transform .3s cubic-bezier(.175, .885, .32, 1.275), -webkit-filter .3s cubic-bezier(.175, .885, .32, 1.275);
}

.button:focus,
.button:hover {
    transform: scale3d(1.1, 1.1, 1);
    background-position: 100% 50%;
    outline: none;
    bottom: 2px;
}

.button:focus .btn-secondary,
.button:hover .btn-secondary {
    background-position: 100% 50%;
    filter: blur(1.6rem);
    bottom: -5px;
}

.modeCloseBtn:focus{
background-color: white;
}

/* Media Rules */
@media only screen and (max-width: 1660px) {
    :root {
        /* Sizes */
        --heading: 3rem;
    }
}

@media only screen and (max-width: 1456px) {
    :root {
        /* Sizes */
        --heading: 2.8rem;
    }
}

@media only screen and (max-width: 1024px) {
    :root {
        /* Sizes */
        --heading: 2.4rem;
    }

    /* Form */
    #form {
        width: 85%;
    }
}

@media only screen and (max-width: 756px) {
    :root {
        /* Sizes */
        --heading: 2.2rem;
    }

    /* Form */
    #form {
        width: 90%;
    }

    .heart{
        font-size: 40px;
    }

    .form-input{
        height: 1rem;
    }
    textarea.form-input{
        height: 1rem!important;
    }
}

@media only screen and (max-width: 576px) {

    /* Form */
    .form-input-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 0;
        grid-row-gap: 1.5em;
    }
}

@media only screen and (max-width: 496px) {
    :root {
        /* Sizes */
        --heading: 1.75rem;
    }
}

/* form container animasyonu  */
@keyframes glow-load {
    0% {
        box-shadow: none;
    }

    100% {
        box-shadow:
            0px 0px 50px rgba(161, 166, 252, 1);
    }
}

#form {
    border-radius: 1.25em;
    padding: 1.5em;
    animation: 1s cubic-bezier(0.47, 0, 0.745, 0.715) .7s 1 glow-load;
    animation-fill-mode: forwards;
    margin-bottom: 20px;
}

.form-text {
    margin: 1em 0 .75em 2.2em;
    color: var(--gray-dark);
    font-weight: 300;
    display: flex;
    align-items: center;
}
