@tailwind base;
@tailwind components;
@tailwind utilities;

/*scroll button*/
.back-to-top {
    position: fixed;
    bottom: 33px;
    right: 100px;
    font-size: 17px;
    background: #84A59D;
    color: white;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    box-shadow: 0 3px 3px #ccc;
    padding: 10px;
  }
  
  .back-to-top:hover {
    background: #c0b9dd;
  }