@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

/*scroll button*/
.back-to-top {
    position: fixed;
    bottom: 33px;
    right: 100px;
    font-size: 17px;
    background:  rgb(161, 166, 252);
    color: white;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    /* box-shadow: 0 3px 3px #ccc; */
    padding: 10px;
  }

  .back-to-top:hover {
    box-shadow: 0 3px 3px #ccc;
  }

  body{
    background-color: black !important;
    font-family: Poppins, sans-serif;
    color:#242120;
  }

  .container {
    background-color: white;
    transform-origin: 0% 0%;
    transition: transform 250ms ease-in-out;
    width: 100vw;
  }

  /* hamburger acık */
  .container.open, .icons.open{
    transform: rotate(-20deg);
  }

  .ham.open{
    transform: rotate(-90deg);
  }

  .cross.open{
    transform: rotate(0deg);
  }

  /* hamburger kapalı */
  .container.close , .icons.close{
    transform: rotate(0deg);
    z-index:1 ;
  }

  .ham.close{
    transform: rotate(0deg);
  }

  .cross.close{
    transform: rotate(90deg);
  }

  /* tag styles */
  .h1, .html, .body, .form , .p{
    font-family: 'Source Code Pro', monospace;
  }

  .html{
    margin-left: 6rem;
  }

  .body{
    margin-left: 8rem;
  }

  .h1 , .p{
    margin-left: 10rem;
  }

  .form{
    margin-left: 11rem;
  }

  @media only screen and (max-width: 768px) {
    .html{
      margin-left: 1rem;
    }

    .body{
      margin-left: 1.7rem;
    }
    
    .h1, .p {
      margin-left: 2rem;
    }
  }

  


