@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');
/*scroll button*/
.back-to-top {
    position: fixed;
    bottom: 33px;
    right: 33px;
    font-size: 22px;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    padding: 10px;
    z-index: 1;
  }

  .back-to-top:focus{
    background-color: transparent;
  }

  body, html {
    background-color: #2f2f33 !important;
    font-family: 'Comic Neue', cursive;
    color:#242120;
  }

  .container {
    background-color: #f3f3f3;
    transform-origin: 0% 0%;
    transition: transform 250ms ease-in-out;
    width: 100vw;
    padding: 100px 0;
  }
  
@media screen and (width > 768px) {
   /* hamburger acık */
   .container.open, .icons.open{
    transform: rotate(-20deg);
  }

   /* hamburger kapalı */
   .container.close , .icons.close{
    transform: rotate(0deg);
    z-index:1 ;
  }
}
 
  .ham.open{
    transform: rotate(-90deg);
  }

  .cross.open{
    transform: rotate(0deg);
  }


  .ham.close{
    transform: rotate(0deg);
  }

  .cross.close{
    transform: rotate(90deg);
  }

  /* tag styles */
  .h1, .html, .body, .form , .p, .sectionn{
    font-family: 'Source Code Pro', monospace;
    color:#000000;
    font-size: 17px;
  }

  .html{
    margin-left: 2rem;
  }

  .body{
    margin-left: 4rem;
  }

  .h1 , .p{
    margin-left: 3rem;
  }

  .form, .sectionn{
    margin-left: 6rem;
  }

  @media only screen and (max-width: 768px) {
    .html{
      margin-left: 1rem;
    }

    .body{
      margin-left: 1.7rem;
    }
    
    .h1, .p , .sectionn, .form{
      margin-left: 2.5rem;
    }
  }

  


