/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Source+Code+Pro:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

.infoContainer {
    display: flex;
    justify-content: space-around;
    font-family: 'Comic Neue', cursive;
}

.devInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hello {
    font-size: 65px;
    margin-left: 8rem;
}

.name {
    font-size: 60px;
    font-weight: bold;
    opacity: 0;
    margin-left: 8rem;
}

.about {
    font-size: 35px;
    opacity: 0;
    margin-left: 8rem;
}

.moreAbout {
    font-size: 18px;
    margin-top: 20px;
    font-weight: 500;
    opacity: 0;
}

@media only screen and (width > 1200px) {
    .moreAbout {
        margin-left: 8rem;
    }

    .infoContainer{
        padding: 20px 10px;
    }
}

@media only screen and (width < 768px) and (orientation: portrait) {
    .content{
        padding: 20px 10px 0 10px;
    }

    .hello,
    .name,
    .about,
    .moreAbout {
        margin-left: 2rem;
    }

    .hello {
        font-size: 40px;
    }

    .name {
        font-size: 30px;
    }

    .about {
        font-size: 25px;
    }

    .infoContainer {
        flex-direction: column !important;
    }

    .devPic.slideLeft {
        display: flex;
        justify-content: center;
    }
}


/* Animation */
.slideLeft {
    animation: slide-left 1s linear forwards;
}

@keyframes slide-left {
    0% {
        transform: translate(100px);
        opacity: 0;
    }

    100% {
        transform: translate(0px);
        opacity: 1;
    }
}

/* home page delay */
.name.slideLeft {
    animation-delay: 0.5s;
}

.about.slideLeft {
    animation-delay: 1s;
}

.moreAbout.slideLeft {
    animation-delay: 1.5s;
}

/* .devPic.slideLeft{
    animation-delay: 2s;
} */


.icon:active {
    transform: scale(1.2);

}

.tailwind {
    animation-name: tailwind-text;
    animation-duration: 500ms;
    /*   animation-iteration-count:infinite; */
    display: inline-block;
}


@keyframes logos {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-20%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes tailwind-text {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(0.98);
    }

    50% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}

.hide {
    animation-name: hide_logo;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes hide_logo {
    0% {
        transform: scale(1);
        opacity: 1;
        border-radius: 0%;
    }

    50% {
        transform: scale(0.5) ;
        opacity:0.5;
        border-radius: 40%;

    }

    100% {
        transform: scale(0.05);
        opacity: 0.1;
        border-radius: 50%;

    }

}

.float_html {
    animation: float 1s infinite;
    animation-direction: alternate;
    margin-right: 10px;
}


.float_html:nth-child(1) {
    animation-delay: 10ms;
}

.float_html:nth-child(2) {
    animation-delay: 250ms;
}

.float_html:nth-child(3) {
    animation-delay: 500ms;

}

.float_html:nth-child(4) {
    animation-delay: 750ms;

}

.float_html:nth-child(5) {
    animation-delay: 1s;

}



@keyframes float {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(30%);
    }
}
