@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

#portfolio {
  min-width: 100% !important;
}

#portfolio .row {
  margin-left: 11rem;
  margin-right: 100px !important;
  margin-left: 100px !important;
  font-family: 'Comic Neue', cursive;
  font-weight: 600;
}

#portfolio .row .card-title {
  font-weight: 600;
}

@media only screen and (width < 768px) and (orientation: portrait) {

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .row .col {
    width: 400px;
  }
}

.website {
  color: #039be5;
}

.icons {
  font-size: 0.9rem;
  display: inline-flex;
  background: #D8D8D8;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 15px;
}

.icons span {
  border-radius: 5px;
  padding: 3px 5px;
}

.react {
  background: #BAD5F5;
}

.react span::after {
  content: "React.js";
}

.nextjs {
  background: #F2C986;
}

.nextjs span::after {
  content: "Next JS";
}

.redux {
  background: #E1C1C1;
}

.redux span::after {
  content: "Redux";
}

.JavaScript {
  background: #EADD86;
}

.JavaScript span::after {
  content: "JavaScript";
}

.typescript {
  background: #AFEAE5;
}

.typescript span::after {
  content: "TypeScript";
}

.card a {
  padding-right: 15px;
}

.github {
  color: #6d8d49;
}